<h1>Search results</h1>

<!-- <% if artists.length === 0{ %>
<p>No artists found</p>
<%  } else { %> 
<% artists.forEach((result) => { %>
<div>
  <img src="<%- result.images.url%>" alt="Album art">
  <h4><%- result.name%></h4>
  <button>View albums</button>

</div>
<% }) %>
<% } %> -->

